In [124]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from itertools import combinations
from collections import Counter
from datetime import datetime

In [125]:
data = pd.read_csv('movie_bd_v5.xls')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [126]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [127]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data =data.assign(profit = lambda x: x.revenue - x.budget)
#the time given in the dataset is in string format.
data.release_date = pd.to_datetime(data.release_date)
#So we need to change this in datetime format

# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [128]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [129]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title
answers['1'] = data.loc[data.budget == data.budget.max(), 'original_title'].values[0]

ВАРИАНТ 2

In [130]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()').original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [131]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [132]:
answers['2'] =data.query('runtime == runtime.max()').original_title.values[0]
#data.loc[data.runtime == data.runtime.max(),'original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [133]:
answers['3'] = data.query('runtime == runtime.min()').original_title.values[0]

# 4. Какова средняя длительность фильмов?

In [134]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [135]:
 answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [136]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data.query('profit == profit.max()').original_title.value_counts().index[0]

# 7. Какой фильм самый убыточный?

In [137]:
answers['7'] = data.query('profit == profit.min()').original_title.values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [138]:
answers['8'] = data.query('revenue > budget ').original_title.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [139]:
data_9 = data.query('release_year == 2008')
answers[9] =data_9.query('revenue == revenue.max()').original_title.values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [140]:
data_10 = data.query('release_year>=2012 & release_year<=2014')
answers['10'] = data_10[data_10.profit == data_10.profit.min()].original_title.values[0]

# 11. Какого жанра фильмов больше всего?

In [141]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data.genres.str.split('|', expand = True).stack().value_counts().index[0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [142]:
data_profit = data.query('profit > 0')
answers['12'] = data_profit.genres.str.split('|', expand = True).stack().value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [143]:
summ = Counter()
for i in range(len(data)):
    for j in data.iloc[i].director.split('|'):
            summ[j] += data.iloc[i].revenue
summ_new = pd.DataFrame.from_dict(summ, orient = 'index', columns = ['Summ'])
answers['13'] = summ_new.sort_values(by = ['Summ'], ascending = False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [144]:
data['list_dirs'] = data.director.str.split('|')
data_action = data[data.genres.str.contains('Action')][['list_dirs']]
data_exploded_action = data_action.explode('list_dirs')
answers['14'] = data_exploded_action.list_dirs.value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [145]:
data['list_actor'] = data.cast.str.split('|')
data_this_year = data[data.release_year == 2012][['list_actor','revenue']]
data_this_year_exploded = data_this_year.explode('list_actor')
answers['15'] = data_this_year_exploded.groupby(by = 'list_actor').revenue.sum().sort_values(ascending = False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [146]:
data_high_budget = data[data.budget > data.budget.mean()]
answers['16'] = data_high_budget.cast.str.split('|').explode().value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [147]:
this_actor = 'Chris Pratt'
data['list_actor'] = data.cast.str.split('|')
data['list_genres'] = data.genres.str.split('|')
data_genres = data[data.cast.str.contains('Nicolas Cage') == True] [['list_genres']]
answers['17'] = data_genres.explode('list_genres').list_genres.value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [148]:
data_prod_comp = data[data.production_companies.str.contains('Paramount Pictures')]
answers['18'] = data_prod_comp[data_prod_comp.profit == data_prod_comp.profit.min()].original_title.values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [149]:
#data[['release_year', 'revenue']]
max_profit = data.groupby(by = 'release_year')['revenue'].sum()
answers['19'] = max_profit[max_profit == max_profit.max()].index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [152]:
data_prod_comp = data[data.production_companies.str.contains('Warner Bros')]
profit_year = data_prod_comp.groupby(by = 'release_year')['profit'].sum()
answers['20'] = profit_year[profit_year == profit_year.max()].index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [153]:
answers['21'] = data['release_date'].dt.month.value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [154]:
data_month = data.release_date.dt.month.value_counts().sort_index(ascending = True)
sum_movie = 0
for i in data_month.index:
    if (i >5)&(i<9):
        sum_movie += data_month.values[i-1]    
answers['22'] = sum_movie

# 23. Для какого режиссера зима – самое продуктивное время года?

In [155]:
data['month'] = data.release_date.dt.month
data_winter = data[(data.month==12)|(data.month==2)|(data.month == 1)]
answers['23'] = data_winter.list_dirs.value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [156]:
data['count_chars'] = data.original_title.map(lambda x: len(x))
new_data = data.copy()
new_data['production'] = data.production_companies.str.split('|')
new_data_exploded = new_data[['production','count_chars']].explode('production')
answers['24'] = new_data_exploded.groupby(by = 'production').count_chars.mean().sort_values(ascending = False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [157]:
data['count_words'] = data.overview.map(lambda x: len(x.split(' ')))
new_data = data.copy()
new_data['production'] = data.production_companies.str.split('|')
new_data_exploded = new_data[['production','count_words']].explode('production')
answers['25'] = new_data_exploded.groupby(by = 'production').count_words.mean().sort_values(ascending = False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [158]:
data_best = data[data.vote_average > data.vote_average.quantile(0.99)][['original_title','vote_average']]
answers['26'] = data_best
#data_best.groupby(by = 'original_title').vote_average.mean().sort_values(ascending = False)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [159]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 9: 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': ['Peter Jackson'],
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26':                                      original_title  vote_average
 9                                        Inside Out           8.0
 34                                             Room           8.0
 118                                    Interstellar           8.0
 119                         Guardians of the Galaxy           7.9
 125                              The Imitation Game           8.0
 128                                       Gone Girl           7.9
 138                        The Grand Budapest Hotel           7.9
 370                                       Inception           7.9
 599                                 The Dark Knight           8.1
 872                                     The Pianist           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1183                        The Wolf of Wall Street           7.9
 1191                               12 Years a Slave           7.9
 1800                                        Memento           7.9}

In [162]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [161]:
actor_list = data.list_actor
combo_list = []
for i in actor_list:
    #print(i)
    for j in combinations(i,2):
        #print(j)
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
answers['27'] = combo_list.actor_combinations.value_counts().head(5)